@import "normalize.css";
@import "fonts.css";
@import "typography.css";
@import "animations.css";

@import "header.css";
@import "order.css";
@import "editFishForm.css";
@import "menu.css";
@import "inventory.css";
@import "login.css";

.catch-of-the-day {
   display: flex;
   justify-content: center;
   height: 90vh;
   max-width: 95vw;
   margin: 0 auto;
   margin-top: 5vh;
   perspective: 1000px;
   transform-style: preserve-3d;
}

.catch-of-the-day > * {
   padding: 2rem;
   border: 1rem double #1a1a1a;
   position: relative;
   background: #ddd;
   transition: all 0.3s;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
   overflow: auto;
}

/*******
  Handles the "folded" transformation
*/

.catch-of-the-day.folded > *:first-child {
   transform: translateX(50%) rotateY(6deg) translateX(-50%);
}

.catch-of-the-day.folded > *:last-child {
   transform: translateX(-50%) rotateY(10deg) translateX(50%) scale(1.08)
      translateX(24px);
}

.catch-of-the-day.folded > *:nth-child(2) {
   transform: translateX(-50%) rotateY(-14deg) translateX(50%);
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.store-selector {
   background: #fff;
   max-width: 500px;
   margin: 50px auto;
   padding: 2rem;
   border: 2px solid #000;
}
.store-selector input,
.store-selector button {
   width: 100%;
}
.store-selector input[type="text"],
.store-selector button[type="text"] {
   text-align: center;
   font-size: 3rem;
}
